/* Created By MrHAcker-X */

/* Poppins font CDN from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme-color: rgb(0,255,0);
  --hover-color: rgb(0,200,0);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

/* Button */
.btn {
  background-color: var(--theme-color);
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  outline: none;
  height: 40px;
  cursor: pointer;
  outline: none;
  color: black !important;
  text-decoration: none;
  transition: 0.3s all ease;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: var(--hover-color);
}
/* ./Button */

/* Input field */
.input {
  background-color: black;
  color: rgb(0,255,0);
  border: 2px solid rgb(0,225,0);
  border-radius: 8px;
  height: 40px;
  font-size: 14px;
  padding: 10px 16px;
  transition: 0.3s all ease;
}


.input:focus {
  border-color: var(--theme-color);
}
/* ./Input field */

/* Search */
.search {
  padding: 50px 0;
}

.search .txt h1 {
  font-weight: 600;
	color: rgb(0,255,0);
}

.txt p{
	color: rgb(0,255,0);
}

.search .form {
  display: flex;
}

.search .form input {
  flex: 5;
}
/* ./Search */

.country-flag{
	width: 100%;
	border: 2px solid black;

}

body{
	background-color: black;
}

td{
	color: rgb(0,255,0);
}


.detail{
	color: rgb(0,255,0);
	background-color: black;
	border: 1px solid rgb(0,255,0);
	border-radius: 6px;
	text-align: center;
	font-size: 15px;
	padding: 5px 0px;
}


.txt img{
	height: 100px;
	width: 100px;
	background-color: black;
	border: 1px solid rgb(0,255,0);
	border-radius: 50%;
	align-item: center;
	padding: 5px;

}

.flax{
	height: 40px;
	width: 70px;
}

a{
	text-decoration: none;
}

.contx{
	width: 100%;
	display: flex;
	bottom: 0px;
	position: fixed;
	justify-content: center;
	background-color: rgb(20,20,20);
	border-radius: 7px 7px 0px 0px;
}

.yeah{
	display: flex;
	padding: 10px 0px;
	margin: 0px;
	width: 80%;
	justify-content: space-between;
}

.contx a{
	color: rgb(0,255,0);
	border: 1px solid rgb(0,255,0);
	padding: 3px 6px;
	margin: 4px;
	border-radius: 5px;
	background-color: black;
}

.map{
	border: 1px solid rgb(0,255,0);
	border-radius: 5px;
}

