p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.sofxx{
    padding: 4px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sofxx .hed{
    padding: 4px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px black;
}

.titx{
    color: rgb(179, 252, 96);
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    margin-bottom: 5px;
}

.saph{
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

.saph span{
    font-weight: bold;
    text-decoration: underline;
}

.huntx{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px 3px black;
    background-color: #051118;
}

.huntx h2{
    color: rgb(179, 252, 96);
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 7px;
    text-align: center;
}

.huntx img{
    margin: 5px 10px;
    box-shadow: 0px 0px 10px 3px black;
}

.huntx p{
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 10px 0px;
}

.huntx .buyx{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 8px;
    justify-content: space-around;
}

.huntx .buyx a{
    width: 45%;
    padding: 3px;
    border-radius: 8px;
    background-color: rgb(243, 169, 9);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.huntx .buyx a p{
    font-weight: 800;
    color: black;
    font-size: 15px;
}