.boks{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titled{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-direction: column;
}

.titled h2{
    color: rgb(0,240,0);
    text-align: center;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.titled p{
    color: white;
    font-size: 14px;
    padding: 0px 10px;
    text-align: center;
    font-family: sans-serif;

}

.bookf{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(19, 19, 19);
    box-shadow: 0px 0px 40px black;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 14px rgb(0, 0, 0);
}

.bookf h2{
    color: rgb(0,240,0);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(11, 11, 11);
    /*box-shadow: 0px 0px 15px black;*/
    padding: 7px;
    border-radius: 10px;
    
}

.bookf img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    margin: 20px 0px;
}

.bookf p{
    color: rgb(0,240,0);
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(11, 11, 11);
    padding: 10px 15px;
    border-radius: 10px;
}

.bookf a{
    background-color: green;
    border-radius: 20px;
    color: white;
    padding: 5px 30px;
    font-weight: bold;
    text-transform:uppercase;
    font-size: 25px;
    margin-top: 20px;
}

.bookf a:hover{
    color: green;
    background: white;
    box-shadow: 0px 0px 15px black;
    transition: 0.3s;
    font-size: 30px;
    border-radius: 30px;
    
}
