.cate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

.catr{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catr h2{
    color: rgb(0,240,0);
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.catr p{
    margin: 20px 0px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 14px
    padding: 2px 10px;
}

.calt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 5px;
}

.cat-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.cat-1 h3{
    color: rgb(0,240,0);
    text-align: center;
    margin-bottom: 10px;
}

.cat-1 p{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px
}

.cat-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.cat-2 a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0,240,0);
    font-size: 40px;
}

.cat-2 a:hover{
    font-size: 50px;
    transition: 0.3s;
    color: rgb(0,255,0);
}

.free{
    color: rgb(0,240,0);
    font-family: sans-serif;
}
