.titled{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

.titled h2{
    color: rgb(0,240,0);
    text-align: center;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.titled p{
    color: white;
    font-size: 14px
    text-align: center;
    font-family: sans-serif;
}

.course{
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.com1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    box-shadow: 0px 0px 40px black;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 14px rgb(0, 0, 0);
}

.com1 img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
    border: 1px solid black;
    margin: 10px 0px;
}

.com1 h3{
    text-transform: uppercase;
    color: rgb(0,240,0);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 20px black;
}

.price{
    display: flex;
    flex-direction: row;
    background-color: black;
    margin-top: 10px;
    padding: 5px 15px;
    color: rgb(0,240,0);
    box-shadow: 0px 0px 10px black;
    border: 1px solid grey;
    border-radius: 20px;
    align-items: center;
    font-weight: bold;
    justify-content: space-evenly;
    width: 250px;
    font-family: sans-serif;
    font-size: 20px;
}

.price .io{
    color: white;
    font-size: 30px;
}

.com1 .de{
    width: 100%;
    text-align: center;
    color: rgb(0,240,0);
    font-size: 14px;
    background-color: rgb(10, 10, 10);
    margin: 10px 0px;
    padding: 10px;
    border-radius: 15px;
    font-family: sans-serif;
}

.com1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 5px 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 16px green;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.com1 a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    transition: 0.5s;
}