body{
    width: 100%;
}

.home-p{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*--------------------Welcome banner---------------------*/

.imag{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
    width: 100%;

}

.imag img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imag .trt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: black;
    padding: 10px;
    border: 0.5px solid rgb(100,100,100);
    border-radius: 10px;

}

.trt p{
    color: white;
    font-family: cursive;
    font-size: 16px;
    text-align: center;
}

.wlcm{
    width: 100%;
    background-color: black;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 7px;
}

.wlcm h2{
    color: rgb(0,230,0);
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.wlcm p{
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

/*---------------------------Hacking course------------------*/



.com1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    box-shadow: 0px 0px 40px black;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 14px rgb(0, 0, 0);
}

.com1 img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black;
    border: 1px solid black;
    margin: 10px 0px;
}

.com1 h3{
    text-transform: uppercase;
    color: rgb(0,240,0);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 20px black;
}

.price{
    display: flex;
    flex-direction: row;
    background-color: black;
    margin-top: 10px;
    padding: 5px 15px;
    color: rgb(0,240,0);
    box-shadow: 0px 0px 10px black;
    border: 1px solid grey;
    border-radius: 20px;
    align-items: center;
    font-weight: bold;
    justify-content: space-evenly;
    width: 250px;
    font-family: sans-serif;
    font-size: 20px;
}

.price .io{
    color: white;
    font-size: 30px;
}

.com1 .de{
    width: 100%;
    text-align: center;
    color: rgb(0,240,0);
    font-size: 14px;
    background-color: rgb(10, 10, 10);
    margin: 10px 0px;
    padding: 10px;
    border-radius: 15px;
    font-family: sans-serif;
}

.com1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 5px 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 16px green;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.com1 a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    transition: 0.5s;
}


/*---------------------------------Next section---------------------------------*/
.dety{
    width: 100%;
    padding: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(120,120,120);
    border-radius: 10px;
    margin: 15px 0px;
}

.dety .tet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tet h2{
    color: rgb(0,230,0);
    background-color: black;
    border-radius: 5px;
    padding: 4px 10px;
    text-align: center;
    margin-bottom: 10px;
}

.tet p{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px
}

.tet p span{
    color: rgb(0,230,0);
    font-family: sans-serif;
    font-size: 14px;
} 

/*------------------Tool List-----------------*/
.toosp{
    width: 100%;
}

.toosp img{
    width: 100%;
}

.tyr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
}

.tyr .li-co{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.lis-r{
    color: rgb(0,230,0);
    background-color: black;
    border-radius: 20px;
    padding: 4px 15px;
    text-align: center;
}

.li-co{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(120,120,120);
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0px 0px 15pcx red;
}

.li-co p{
    color: white;
    font-family: sans-serif;
    font-size: 14px
    text-align: center;
    margin: 10px 0px;
}

.li-co .but{
    color: black;
    background-color: rgb(0,230,0);
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: auto;
    font-size: 16px;
    padding: 4px 20px;
    border-radius: 20px;
    text-transform: uppercase;
}

.but:hover{
    background-color: rgb(0,255,0);
    font-size: 23px;
    transition: 0.4s;
}

.repo{
    margin: 20px 0px;
    box-shadow: 0px 0px 15px black;
}


.toled{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toled a{
    font-weight: 800;
    color: black;
    padding: 4px 25px;
    background-color: rgb(0,230,0);
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 7px;
    width: auto;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;

}

.toled a:hover{
    background-color: rgb(0,255,0);
    font-size: 25px;
    transition: 0.4s;
}



/*---------------------game list-----------------*/

.gm-l{
    margin: 10px;
}


/*--------------------Video List of home page-----------------*/
.com-vid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(100,100,100);
    margin: 13px 0px;
    padding: 10px 10px;
    background-color: black;
    border-radius: 20px;

}

.det{
    color: red;
}

.com-vid h2{
    color: rgb(0,230,0);
    text-align: center;
    background-color: black;
    border-radius: 10px;
    padding: 5px 0px;
}

.com-vid .vids{
    width: 100%;
    border: 1.2px solid rgb(80,80,80);
    height: 200px;
}

.com-vid p{
    color: white;
    text-align: center;
    margin: 10px 0px;
    font-family: sans-serif;
    word-spacing: 2px;
    font-size: 14px
}

.com-vid p a{
    background-color: rgb(0,230,0);
    color: black;
    padding: 3px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.infop{
    padding: 5px 0px;
}

@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 2048px)  
{

html{
	display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
}

body{
	width: 500px;
}

.navs{
	width: 500px;
}
}