.videos{
    padding: 13px;
    background-color: rgb(13,13,13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tit-mai{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tit-mai h2{
    color: rgb(0,230,0);
    text-align: center;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 8px;
    padding: 10px;
}

.tit-mai p{
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 10px;
    padding: 0px 12px;
    text-align: center;
}

.com-vid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(100,100,100);
    margin: 13px 0px;
    padding: 10px 10px;
    background-color: black;
    border-radius: 20px;

}

.com-vid h2{
    color: rgb(0,230,0);
    text-align: center;
    background-color: black;
    border-radius: 10px;
    padding: 5px 0px;
}

.com-vid .vids{
    width: 100%;
    border: 1.2px solid rgb(80,80,80);
    height: 200px;
}

.com-vid p{
    color: white;
    text-align: center;
    margin: 10px 0px;
    font-family: sans-serif;
    word-spacing: 2px;
    font-size: 13px;
}

.com-vid p a{
    background-color: rgb(0,230,0);
    color: black;
    padding: 3px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.infop{
    padding: 5px 0px;
}
