.whoam{
    padding: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.who-title{
    border-radius: 30px;
    padding: 4px 15px;
    background-color: black;
}

.intd{
    border: 1px solid rgb(100,100,100);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.who-title h2{
    padding: 4px 10px;
    color: rgb(0,230,0);
    text-align: center;
}

.who-title p{
    color: white;
    font-family: cursive;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.imf{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.imf img{
    width: 140px;
    height: 140px;
    border-radius: 15px;
    border: 1px solid rgb(100,100,100);
    box-shadow: 0px 0px 15px black;
    
}

.p-im{
    color: black;
    background-color: rgb(0,230,0);
    border-radius: 20px;
    padding: 2px 10px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: large;
}

.com-i{
    padding: 5px 20px;
    margin: 10px 0px;
    border-radius: 20px;
    color: rgb(0,230,0);
    background-color: black;
    text-align: center;
}

.intof{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.introp{
    color: rgb(0,255,0);
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0px 10px;
    margin-bottom: 30px;
    word-spacing: 1px;
    background-color: rgb(8,8,8);
    padding: 10px;
    border-radius: 15px;
}

.introp a{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.introp .yotu{
    background-color: rgb(255,0,0);
    color: white;
    padding: 1px 5px;
    border-radius: 10px;
}

.intof .sachin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sachin ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sachin li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sachin i{
    font-size: 20px;
    margin: 6px;
}

.sachin li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0px 5px;
    border: 1px solid white;
    margin: 1px 10px;
}

.heap{
    color: rgb(0,230,0);
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

.ingo{
    color: rgb(0,255,0);
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 10px 0px;
    padding: 15px;
    background-color: rgb(8,8,8);
    border-radius: 15px;
}

.toy{
    margin-top: 20px;
}

.socl{
    border: 1px solid rgb(100,100,100);
    padding: 10px;
    border-radius: 17px;
    background-color: rgb(15,15,15);
}

.last-h{
    margin-top: 20px;
}

.aplt{
    margin-bottom: 10px;
}

.offr{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(100,100,100);
    background-color: rgb(15,15,15);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offr a{
    color: black;
    background-color: rgb(0,230,0);
    text-align: center;
    padding: 3px 20px;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.offr img{
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid rgb(0,240,0);
    border-radius: 50%;
}

.begin{
    color: rgb(0,230,0);
    font-weight: bold;
}

.was{
    background-color: rgb(0,230,0);
}

.ints{
    background-color: rgb(200, 3, 82);
}

.linkd .was, .linkd .ints{
    color: black;
    border-radius: 8px;
    padding: 1px 10px;
}


